*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
#logo{
    max-width: 30%;
}
.btnClaro{
    max-width: 15%;
    background-color: rgba(0, 0, 0, 0);
    float: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 5% 10%;
}
.btnClaro img{
    max-width: 100%;
}
.btnNoturno{
    display: none;
    max-width: 15%;
    background-color: rgba(0, 0, 0, 0);
    float: center;
    align-items: center;
    align-items: center;
    position: absolute;
    margin: 5% 10%;
}
.btnNoturno img{
    max-width: 100%;
}
.btnMenu{
    float: right;
    margin: 5% 10%;
    padding: 2%;
    text-align: center;
    border-radius: 56px;
    background-image: linear-gradient(to right,#D3FFFC,#9E00FF);
}
.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}
.btnFechar{
    font-size: 3em;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 5%;
}
.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}
.menu li{
    padding: 1.5%;
    margin: 3%;
    list-style: none;
}
.menu li a{
    font-size: 2em;
    color: white;
    padding: 1.5% 3%;
    text-decoration: none;
}
#about{
    display: flex;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 2%;
    max-width: 80%;
    align-items: center;
    justify-content: center;
}
.inicio{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left:10%;
    align-items: center;
}
.galeriaFotoGrande{
    width: 80%;
    height: 80%;
    border-radius: 10%;
    display: block;
    margin: 1% 0;
}
#fotoAmor{
    display: none;
}
.fotosPequenas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeriaFotoPequena{
    max-width: 20%;
    border: black solid 4px;
    border-radius: 10%;
    margin: 2%;
}
.textoInicio{
    max-width: 80%;
}
.textoInicio p{
    margin: 2% 0;
}
.textoInicio, footer{
    font-size: 75%;
}
.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projetos h1,h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-weight: bold;
    max-width: 80%;
}
.projetos h2{
    margin-left: 10%;
    margin-bottom: 5%;
}
.projeto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registroFoto,.loginFoto{
    max-width: 80%;
}
.projeto1 p{
    font-size: 75%;
    margin: 0 5% 5% 5%;
    max-width: 80%;
}
.projeto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bot{
    max-width: 80%;
    margin-bottom: 5%;
}
.projeto2 p{
    font-size: 75%;
    margin: 0 5% 5% 5%;
    max-width: 80%;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contato h1{
    margin-top: 5%;
    font-weight: bold;
    max-width: 80%;
}
#contatoClaro{
    padding: 0;
    list-style: none;
    margin-left: 5%;
}
#contatoClaro li{
    display: flex;
    align-items: center;
}
#contatoClaro li img{
    max-width: 15%;
    margin: 5%;
}
#contatoClaro li a{
    color: black;
    font-weight: 1000;
    text-decoration: none;
}
#contatoNoturno{
    display: none;
    padding: 0;
    list-style: none;
    margin-left: 5%;
}
#contatoNoturno li{
    display: flex;
    align-items: center;
}
#contatoNoturno li img{
    max-width: 15%;
    margin: 5%;
}
#contatoNoturno li a{
    color: white;
    font-weight: 1000;
    text-decoration: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (min-width:769px) {
    #logo{
        max-width: 10%;
    }
    .btnMenu,.btnFechar{
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        justify-content: center;
        height: fit-content;
    }
    .menu ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul li{
        list-style: none;
        margin-top: 0;
    }
    .menu ul li a{
        color: black;
        font-weight: 500;
    }
    .btnClaro{
        max-width: 5%;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        margin: 2% 5% 5% 5%;
        right: 0;
        top: 0;
        z-index: 9999;
    }
    .btnClaro img{
        max-width: 100%;
    }
    .btnNoturno{
        display: none;
        max-width: 5%;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        margin: 2% 5% 5% 5%;
        right: 0;
        top: 0;
        z-index: 9999;
    }
    .btnNoturno img{
        max-width: 100%;
    }
    #about{
        font-size: 120%;
    }
    .inicio{
        display: flex;
        flex-direction: row;
    }
    .galeriaFotoGrande{
        width: 25%;
        height: 25%;
        margin-left: 10%;
    }
    #minhaFoto{
        margin-left: 0;
    }
    #fotoAmor{
        display: inline;
        margin-left: 2%;
    }
    .fotosPequenas{
        display: none;
    }
    .textoInicio{
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 100%;
    }
    .projetos{
        display: flex;
        flex-direction: column;
    }
    .projetos h1, h2{
        font-size: 120%;
    }
    .projetos h2{
        margin-left: 0%;
    }
    .projeto1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
    }
    .projeto1 img{
        max-width: 80%;
    }
    .projeto1 p{
        font-size: 100%;
        max-width: 80%;
    }
    .projeto2{
        max-width: 80%;
    }
    .projeto2 img{
        max-width: 80%;
    }
    .projeto2 p{
        font-size: 100%;
    }
    .contato{
        margin-bottom: 5%;
    }
    .contato h1{
        font-size: 120%;
    }
    footer{
        font-size: 100%;
    }
}
